.characters-list {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;

  // añadido
  grid-template-rows: repeat(auto-fill, minmax(300px, max-content));
  width: 100%;
  flex-grow: 1;
}
.characcter-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  & img {
    width: 200px;
    height: 300px;
    object-fit: contain;
  }
}
.link-back {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: underline;
}
